.pag{
  display: flex;
  justify-content: space-evenly;
    button{
      width: 100px;
      height: 35px;
      color: #EEEEEE;
      border-radius: 15px;
      border-color: #12122D;
      background-color: #52519D;
    }
}